@charset "UTF-8";

/*seletor universal*/
* {
    margin: 0px;
    padding: 4px;
    box-sizing: border-box;
}

/*seletor de tag*/

body {
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#cabecalho {
    background-color: rgb(14, 71, 9);
    color: rgb(233, 233, 233);
    text-align: center;
}

h2 {
    color: rgb(223, 223, 223);
    font-size: 2em;
}

.menu-item {
    display: inline;
    margin: 10px;
}
a {
    text-decoration: none;
}
nav{
    background-color:rgb(199, 209, 57);
    text-align: center;
}

.menu-item a{
    font-size: 1.5em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}
.menu-item a:hover{
    color: chartreuse;
    font-size: 2em;
    transition: 0.5s;
}
#destaque{
    text-align: center;
    font-size: 2em;
    color: rgb(235,136,0 )
}
.btn{
    padding: 15px;
    color: brown;
    background-color:rgb(226, 226, 226);
    border-radius: 15px;
    border: none
}
.btn:hover{
    background-color: red;
    color: rgb(226, 226, 226);;
    transition: 1.0s;
    cursor: pointer;
}
#mario{
    width: 14em; 
    border-radius: 150px;
    border: 3px red solid;
}
.Promoção{
    border:solid rgb(0, 0, 0) 0.1px;
    height: auto;
    margin: 30px;
    display: flex;
    justify-content: space-around;
}
.nome{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 9px;
    margin-bottom: 10px;
    color: black;
}
.pizzas {
    width: 300px;
    height: 300px;
}
#ff{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 136, 0);
    width: 500px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 10px;
}
#ff h1{
    text-align: center;
}
input {
    border-radius: 100px;
    border: none;
}
#form{
   display: flex;
   flex-direction: column;
}
.icone {
    display: inline-block;
    width: 60px;
}
#faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 136, 0);
    width: 400px;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 550px;
    height: auto;
    padding: 20px;
}
#faq h2 {
    font-size: 1.5em;
}
.preços{
    background-color: rgba(255, 0, 0, 0.5);
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;

}
.preços a{
    color:rgb(255, 255, 255);
}
.check {
    display: flex;
    flex-direction: row;
}